.present-day {
  background-color: #28a745 !important;
  // background-color: #c5e6b5 !important;
  color: #ffffff; /* Optional: white text for better readability */
  border: none;

  .fc-event-main-frame {
    background-color: #28a745;
    color: white;
  }
}

.absent-day {
  border: none;
}

.fc-event-main-frame {
  background-color: white;
  color: black;
}
