.present-day {
  background-color: #28a745 !important;
  // background-color: #c5e6b5 !important;
  color: #ffffff; /* Optional: white text for better readability */
  border: none;
}

.absent-day {
  // background-color: #dc3545 !important; /* Red for Absent */
  // background-color: #de9799 !important; /* Red for Absent */
  // color: white !important;
  border: none;
}
