@use "../../styles/colors";

.dashboard-container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .dashboard-card-wrapper {
    display: flex;
    align-items: center;

    // .dashboard-card {
    //   background-color: red;
    //   width: 200px;
    //   height: 100px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   border-radius: 12px;
    // }
  }

  .dashboard-table-wrapper {
    padding: 20px;
    background-color: colors.$light-background;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    h5{
        font-weight: 500;
    }
  }
}




