$black: #383838;
$table-border-color: #3a38384d;
$form-border-color: #3a38384d;
$red: #ee4e56;
$light-red: #fff6f6;
$white: #ffffff;
$darkblack: #000000;

$popup-text-light-color: #d1d1d1;
$popup-shadow-color: #00000014;
$model-element-bgcolor: #ee4e561a;
$course-popuphover-heading: #adadad;
$popup-text-light-color: #d1d1d1;
$popup-shadow-color: #00000014;
$model-element-bgcolor: #ee4e561a;
$course-popuphover-heading: #adadad;

$light-silver: #e1e1e1;
$input-text: #3a3838;
$dark-silver: #bdbdbd;

$dashboard-bg-color: #fff6f6;

$box-shadow-dark: #0000001a;
$color-crimson: #ee4e561a;

$light-gray: #999999;

$light-border: #e2eaed;
$rightpanel-bg-color: #f4f5fb;
$rightpanel-table-color: #ffffff;

$exam-result-div-bgcolor: #ffffff;
$exam-result-minidiv-fontcolor: #999999;

$timetable-input-bg-color: rgb(217, 217, 217, 40%);
$timetable-clear-btn-bg-color: #121212;
$timetable-weekly-bg-color: #ffffff;
$timetable-option-border: #e2eaed;

$box-shadow-dark: #0000001a;
$color-crimson: #ee4e561a;
$exam-result-div-bgcolor: #ffffff;

$default-chip-color: #f4f5fb;
$subheader-bg-color: #f4f5fb;
$topic-container-bg-color: #f4f5fb;
$fees-paid-btn-color: #428d56;

$light-gray: #999999;

$gainsboro: gainsboro;

//exam assessment
$exam-assessment-correctAnswer: #428d56;
$Student-practice-exam-currectAnswer: #428d56;

//student exam

$exam-answer-textarea: #f4f5fb;
$exam-answer-textarea-border: #e2eaed;
$exam-seleccted-answer: #000000;

$border-light-silver: #dcdcdc;

$border-date-time-cal: #d1d5db;

$dashboard-avatar-background: #ee4e5633;
$course-content-divider: #adadad;

//tables filter input 
$table-input-bg: #F4F4F4;

$toast-success: #428d56;

$button-disable-color:#383838b0;
//disable field color

$disable-field : #f1f1f1;
$green: #428d56;


$light-background : #b5bec673